{% extends "base.html" %}
{% load static %}
{% block main-content %}
  <main>


    <header class="header -type-1 -secondary js-header">
      <div data-anim="fade delay-3" class="header__container container" style="justify-content: center;">
        <div class="header__logo">
          <a href="{% url 'index' %}" class="header__logo">
            <img src="{% static 'img/general/logo-1.svg' %}" alt="logo icon">
          </a>
        </div>
      </div>
    </header>


    <section class="mt-header layout-pt-lg layout-pb-lg">
      <div class="container">
        <div data-anim="slide-up" class="row justify-center">
          <div class="col-xl-6 col-lg-7 col-md-9">
            <div class="text-center mb-60 md:mb-30">
              <h1 class="text-30">Register</h1>
              <div class="text-18 fw-500 mt-20 md:mt-15">Let's create your account!</div>
              <div class="mt-5">
                Already have an account? <a href="{% url 'login_page' %}" class="text-accent-1">Log In!</a>
              </div>
            </div>

          
            <div class="contactForm border-1 rounded-12 px-60 py-60 md:px-25 md:py-30">
              <form method="POST" action="{% url 'register_view' %}">
                {% csrf_token %}
              <div  class="form-input">
                <input type="text" name="username" placeholder="Username"  required>
                <label class="lh-1 text-16 text-light-1" for="username"></label>
              </div>


              <div class="form-input mt-30">
                <input type="email" name="email" placeholder="Email Address" required>
                <label class="lh-1 text-16 text-light-1" for="email"></label>
              </div>

              
              <div class="form-input mt-30">
                <input type="password" name="password" placeholder="Password" required>
                <label class="lh-1 text-16 text-light-1" for="password"></label>
              </div>


              <div>
                <button type="submit" class="btn btn-primary btn-block text-white button -md -dark-1 bg-accent-1 text-white col-12 mt-30">Register<i class="icon-arrow-top-right ml-10"></i></button>
              </div>

            </div>
          </form>
          
          </div>
        </div>
      </div>
    </section>

  </main>
  {% endblock %}